* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

html,
body{
  height: 100%;
  background-color: #E4E2E2FF;
  //overflow-x: hidden;
  font-family: 'Lato', sans-serif, -apple-system;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: #1C1B1FFF;
}

a {
  text-decoration: none;
}

input,
button {
  outline: none;
  border: none;
}

li {
  list-style: none;
}
