<script setup lang="ts"></script>

<template>
  <div class="form">
    <div class="form-buttons">
      <button>Новый тест</button>
      <button>Окрыть тест</button>
      <router-link to="/">Выход</router-link>
    </div>
  </div>
</template>

<style scoped lang="scss">
.form {
  width: 400px;
  &-buttons {
    display: flex;
    flex-direction: column;
    button {
      margin: 16px 0;
      padding: 12px;
      background-color: #b4d1ea;
      border: none;
      cursor: pointer;
      border-radius: 8px;
      transition: 0.3s;
      &:hover {
        background-color: aliceblue;
      }
    }
    a {
      text-align: center;
      color: black;
      text-decoration: none;
      background-color: #b4d1ea;
      padding: 12px;
      cursor: pointer;
      border-radius: 8px;
      transition: 0.3s;
      &:hover {
        background-color: aliceblue;
      }
    }
  }
}
</style>
