<script setup lang="ts"></script>

<template>
  <div class="result-test">
    <div class="title"><h2>Результаты теста</h2></div>
  </div>
</template>

<style scoped lang="scss">
.result-test {
  width: 100%;
  border: 1px solid #b4d1ea;
  padding: 12px;
  border-radius: 8px;
  margin-left: 100px;
}
</style>
