<script setup lang="ts">
import { TheForm, TheResult } from "@/components";
</script>

<template>
  <div class="home wrapper">
    <section class="forms">
      <TheForm />
      <TheResult />
    </section>
  </div>
</template>

<style scoped lang="scss">
.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 12px;
}
.forms {
  display: flex;
  justify-content: space-between;
}
</style>
